*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: aqua;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 90px;
}
nav ul{
    list-style: none;
    display: inline-flex;
    padding: 20px;
}
nav li a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
/*......*/
body{
    background-color: chartreuse;
}
main{
    background-color: blue;
}
section{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}
article{
    background-color: brown;
    width: 50px;
    height: 30px;
}